<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.yd.deval.project.service.ProjectRequestMapper">

    <resultMap id="projectTeamResultMap" type="co.yd.deval.project.vo.ProjectRequestVO">
        <id property="projectNo" column="project_no"/>
        <result property="memberId" column="member_id"/>
        <result property="state" column="state"/>
        <result property="subject" column="subject"/>
        <result property="position" column="position"/>
        <result property="requestDt" column="request_dt"/>
    </resultMap>

    <insert id="insertProjectRequest"></insert>
    <update id="updateProjectRequest"></update>
    <delete id="deleteProjectRequest"></delete>

    <select id="selectProjectRequestAll" resultMap="projectTeamResultMap">
        SELECT *
        FROM PROJECT_REQUEST
    </select>
    <select id="selectProjectRequest" resultMap="projectTeamResultMap">
        SELECT *
        FROM PROJECT_REQUEST
        WHERE PROJECT_NO = #{projectNo}
    </select>
</mapper>